<!-- build:js(public/) /js/bundles/angular-bundle.js -->
<script src="/js/bundles/angular.js"></script>
<script src="/js/bundles/angular-locale_zh-cn.js"></script>
<script src="/js/bundles/angular-animate.js"></script>
<script src="/js/bundles/angular-touch.js"></script>
<script src="/js/bundles/angular-moment.js"></script>
<script src="/js/bundles/angular-messages.js"></script>
<script src="/js/bundles/ui-bootstrap-tpls.js"></script>
<script src="/js/bundles/angular-ui-router.js"></script>
<script src="/js/bundles/ng_route_shim.js"></script>
<script src="/js/bundles/angular_1_router.js"></script>
<script src="/js/bundles/angular-component-router-active.js"></script>
<script src="/js/bundles/angular-toastr.tpls.js"></script>
<script src="/js/bundles/angular-selectize.js"></script>
<script src="/js/bundles/SweetAlert.js"></script>
<script src="/js/bundles/ng-echarts.js"></script>
<script src="/js/bundles/85ido.min.js"></script>
<!-- endbuild -->

<!-- build:js(public/) /js/main.js -->
<script src="/js/main.js"></script>
<script src="/js/services/appConstants.js"></script>
<script src="/js/directives/list-empty.js"></script>
<!-- endbuild -->
