<!-- build:js(public/) /js/bundles/bundle.js -->
<script src="/js/bundles/jquery-1.12.1.js"></script>
<script src="/js/bundles/bootstrap.min.js"></script>
<script src="/js/bundles/echarts.min.js"></script>
<script src="/js/bundles/es5-shim.js"></script>
<script src="/js/bundles/es5-sham.js"></script>
<script src="/js/bundles/es6-shim.js"></script>
<script src="/js/bundles/es6-sham.js"></script>
<script src="/js/bundles/underscore-min.js"></script>
<script src="/js/bundles/moment-with-locales.js"></script>
<script src="/js/bundles/selectize.js"></script>
<script src="/js/bundles/sweetalert.min.js"></script>
<!-- endbuild -->
