extends ../layout

block content
.container
  h3 济宁干部政德教育基地简介
  p.txt 济宁干部政德教育基地以弘扬中华优秀传统文化为主线，着力培育提升干部为政之德，是山东省委组织部重点打造的干部教育培训特色基地之一。
  .txt
    | 基地建设按照“一院多区”的整体布局，在曲阜市规划建设了济宁干部政德教育学院，在邹城市打造了以孟子研究院为中心的儒家文化研修区，在泗水县、嘉祥县规划开发了尼山圣源书院、曾子研究院等儒家文化体验区。
  .txt
    | 基地坚持优秀传统文化创造性转化、创新性发展的“两创”方针，着力将其中蕴含的治国理政智慧转化提升为滋养干部为政之德的思想活水，科学安排教学内容、优化培训体系，初步形成课堂教学、现场教学、体验教学、礼乐教学“四位一体”的教学模式，并针对实际，组合形成短、中、长期不同教学模块，以满足不同班次培训需求。课堂教学方面，集中山东大学、曲阜师范大学和省、市委党校等各方面优势师资力量，着力打造了《儒家文化的特点及其当代价值》《传承儒家思想精髓  涵养干部为政之德》等10多堂专题课程，编撰出版了《政德教育读本》《读孟子养政德》等辅导教材；现场教学方面，围绕儒家“修齐治平”思想，依托曲阜“三孔”、颜庙、周公庙、邹城“两孟”和嘉祥曾庙、武氏祠以及孔子研究院等，着力开发了20多处现场教学点，分别讲述儒家学习思想、仁爱思想、仁政思想、孝道思想、廉政思想、修身思想、中庸之道、规矩之道等；体验教学方面，在曲阜市、邹城市、泗水县等地打造了10余处“优秀传统文化传承体验村居”教学点，展现儒家思想在社会管理、乡村治理等方面的传承和运用；礼乐教学方面，传承儒家礼乐教化思想，与中宣部合作拍摄了专题教学片《政德的力量》，汇集地方传统曲艺打造了组合剧目《儒风雅韵》等。同时，不断加强师资队伍建设，结合打造山东省儒学人才高地，积极吸纳引进全国儒学高端人才，统筹各方面师资力量，确定了20余名儒学专家学者作为专题课师资，遴选了30多名优秀青年教师作为现场教学教员，初步打造了一支以本地师资为主、专兼职结合的师资队伍。
  .txt
    | 中央党校、国家行政学院、中国浦东干部学院、全国组织干部学院和山东省委党校、山东行政学院、山东省干部学院等均安排主体班次到济宁开展干部政德教育培训。2016年以来至2017年9月，已承接各类培训班次780余期，培训学员4.3万余人。中国浦东干部学院、上海政法学院还多次安排斐济、越南、上合组织成员国以及非洲多国的高层领导干部培训班来济宁开展优秀传统文化体验式培训。国家行政学院、中国浦东干部学院、山东行政学院分别在济宁设立了现场教学点、教学研究基地和政德教育基地。干部政德教育工作被评为2015—2016年度山东省组织工作创新奖。中办《秘书工作》、中央电视台《新闻联播》、新华社、光明日报等媒体均对干部政德教育工作进行了深度报道，引起社会各界广泛关注。
