extends ../layout

block content
    .container(style='height: 526px;')
        .jxd-left
            img.jxd-people(src='../images/zengz.jpg')
        .jxd-right
            .jxd-wrapper.clearfix(style='overflow: auto;')
            .jxd-contain
                ul.jxd-item.clearfix
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=019', target='_blank')
                    img(src='../images/jiax01.jpg')
                    p(title='嘉祥曾庙宗圣殿现场教学点') 嘉祥曾庙宗圣殿现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=020', target='_blank')
                    img(src='../images/jiax02.jpg')
                    p(title='嘉祥曾庙三省堂现场教学点') 嘉祥曾庙三省堂现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=021', target='_blank')
                    img(src='../images/jiax03.jpg')
                    p(title='嘉祥武氏祠现场教学点') 嘉祥武氏祠现场教学点