extends ../layout
block vars
    - var isCur = 4;
block content
    .container(style='height: 500px;')
        .jxd-left(style="top: 31px;")
            img.jxd-people(src='img/zengz.jpg')
            p.name 孟子
        .jxd-right
            .jxd-wrapper.clearfix(style='overflow: auto;')
                .jxd-contain
                    ul.jxd-items.clearfix
                        li
                            .jxd-item
                                a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=019', target='_blank')
                                    img(src='img/jiax01.jpg')
                                    p(title='嘉祥曾庙宗圣殿现场教学点') 嘉祥曾庙宗圣殿现场教学点
                        li
                            .jxd-item
                                a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=020', target='_blank')
                                    img(src='img/jiax02.jpg')
                                    p(title='嘉祥曾庙三省堂现场教学点') 嘉祥曾庙三省堂现场教学点
                        li
                            .jxd-item
                                a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=021', target='_blank')
                                    img(src='img/jiax03.jpg')
                                    p(title='嘉祥武氏祠现场教学点') 嘉祥武氏祠现场教学点