extends ../layout
block vars
	- var isCur = 1;
block content
	.container
		.jxxczl.clearfix
		  a.jxxczl-item(href='video.html?video=01', target='_blank')
		    img(src='../images/zdll.png')
		    p 政德的力量
		  a.jxxczl-item(href='video.html?video=02', target='_blank')
		    img(src='../images/zdsd.png')
		    p 政德基地   政德圣地
