extends ../layout

block content
    .container(style='height: 500px;')
        .jxd-left
            img.jxd-people(src='../img/kongz.jpg')
        .jxd-right
            .jxd-wrapper.clearfix(style='overflow: auto;')
            .jxd-contain
                ul.jxd-item.clearfix
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=001', target='_blank')
                    img(src='../img/qufu01.jpg')
                    p(title='孔子研究院现场教学点') 孔子研究院现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=002', target='_blank')
                    img(src='../img/qufu02.jpg')
                    p(title='曲阜周公庙元圣殿现场教学点') 曲阜周公庙元圣殿现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=003', target='_blank')
                    img(src='../img/qufu03.jpg')
                    p(title='周公庙金人铭碑现场教学点') 周公庙金人铭碑现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=004', target='_blank')
                    img(src='../img/qufu04.jpg')
                    p(title='曲阜孔庙万仞宫墙现场教学点') 曲阜孔庙万仞宫墙现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=005', target='_blank')
                    img(src='../img/qufu05.jpg')
                    p(title='曲阜孔庙太和元气坊现场教学点') 曲阜孔庙太和元气坊现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=006', target='_blank')
                    img(src='../img/qufu06.jpg')
                    p(title='曲阜孔庙大中门现场教学点') 曲阜孔庙大中门现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=007', target='_blank')
                    img(src='../img/qufu07.jpg')
                    p(title='曲阜孔庙杏坛现场教学点') 曲阜孔庙杏坛现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=008', target='_blank')
                    img(src='../img/qufu08.jpg')
                    p(title='曲阜孔庙大成殿现场教学点') 曲阜孔庙大成殿现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=009', target='_blank')
                    img(src='../img/qufu09.jpg')
                    p(title='曲阜孔庙孔氏家庙现场教学点') 曲阜孔庙孔氏家庙现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=010', target='_blank')
                    img(src='../img/qufu10.jpg')
                    p(title='曲阜孔府重光门现场教学点') 曲阜孔府重光门现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=011', target='_blank')
                    img(src='../img/qufu11.jpg')
                    p(title='曲阜孔府内宅戒贪图现场教学点') 曲阜孔府内宅戒贪图现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=012', target='_blank')
                    img(src='../img/qufu12.jpg')
                    p(title='曲阜孔林孔子墓现场教学点') 曲阜孔林孔子墓现场教学点
                li
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=013', target='_blank')
                    img(src='../img/qufu13.jpg')
                    p(title='曲阜颜庙陋巷井现场教学点') 曲阜颜庙陋巷井现场教学点
