extends ../layout
block vars
    - var isCur = 2;
block content
    .container
      ul.nav-tabs.clearfix
        li.nav-tab.active
          a(href='javascript:void(0)')
            | 孔子
            i
        li.nav-tab
          a(href='javascript:void(0)')
            | 周公
            i
        li.nav-tab
          a(href='javascript:void(0)') 颜回
      .tab-content.active(style='height: 500px;')
        .jxd-left
          img.jxd-people(src='img/kongz.jpg')
          p.name 孔子
        .jxd-right
          .jxd-wrapper.clearfix(style='overflow: auto;')
            .jxd-contain
              ul.jxd-items.kongz.clearfix
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf101', target='_blank')
                      img(src='img/qufu101.jpg')
                      p(title='曲阜孔庙万仞宫墙现场教学点') 曲阜孔庙万仞宫墙现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf102', target='_blank')
                      img(src='img/qufu102.jpg')
                      p(title='曲阜孔庙大中门现场教学点') 曲阜孔庙大中门现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf103', target='_blank')
                      img(src='img/qufu103.jpg')
                      p(title='曲阜孔庙杏坛现场教学点') 曲阜孔庙杏坛现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf104', target='_blank')
                      img(src='img/qufu104.jpg')
                      p(title='曲阜孔庙孔氏家庙现场教学点') 曲阜孔庙孔氏家庙现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf105', target='_blank')
                      img(src='img/qufu105.jpg')
                      p(title='曲阜孔府重光门现场教学点') 曲阜孔府重光门现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf106', target='_blank')
                      img(src='img/qufu106.jpg')
                      p(title='曲阜孔府内宅戒贪图现场教学点') 曲阜孔府内宅戒贪图现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf107', target='_blank')
                      img(src='img/qufu107.jpg')
                      p(title='曲阜孔林孔子墓现场教学点') 曲阜孔林孔子墓现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='video-qf108.html', target='_blank')
                      img(src='img/qufu108.jpg')
                      p(title='曲阜孔庙太和元气坊现场教学点') 曲阜孔庙太和元气坊现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='video-qf109.html', target='_blank')
                      img(src='img/qufu109.jpg')
                      p(title='曲阜孔庙大成殿现场教学点') 曲阜孔庙大成殿现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='video-qf110.html', target='_blank')
                      img(src='img/qufu110.jpg')
                      p(title='孔子研究院现场教学点') 孔子研究院现场教学点
      .tab-content(style='height: 500px;')
        .jxd-left
          img.jxd-people(src='img/zhoug.jpg')
          p.name 周公
        .jxd-right
          .jxd-wrapper.clearfix(style='overflow: auto;')
            .jxd-contain
              ul.jxd-items.zoug.clearfix
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf201', target='_blank')
                      img(src='img/qufu301.jpg')
                      p(title='曲阜周公庙元圣殿现场教学点') 曲阜周公庙元圣殿现场教学点
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf202', target='_blank')
                      img(src='img/qufu302.jpg')
                      p(title='周公庙金人铭碑现场教学点') 周公庙金人铭碑现场教学点
      .tab-content(style='height: 500px;')
        .jxd-left
          img.jxd-people(src='img/yanz.jpg')
          p.name 颜回
        .jxd-right
          .jxd-wrapper.clearfix(style='overflow: auto;')
            .jxd-contain
              ul.jxd-items.yanz.clearfix
                li
                  .jxd-item
                    a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=qf301', target='_blank')
                      img(src='img/qufu201.jpg')
                      p(title='曲阜颜庙陋巷井现场教学点') 曲阜颜庙陋巷井现场教学点

    script.
        $('.nav-tab').on('click', function (){
            $('.nav-tab, .tab-content').removeClass('active');
            $(this).addClass('active');
            $('.tab-content').eq($(this).index()).addClass('active');
        })
