extends ../layout
block vars
    - var isCur = 6;
block content
    .container
        ul.people-items.clearfix
block append links
    script(type='text/javascript', src='js/handlebars-v4.0.11.js')
    script(type='text/javascript', src='js/source.js')
    script(id="tpl", type="text/x-handlebars-template")
        {{#each this}}
        li
            .people-item
                a.people-list(href='{{url}}', target='_blank')
                    img(src='{{src}}')
                    p.title(title='{{title}}') {{title}}
        {{/each}}