extends ../layout
block vars
    - var isCur = 6;
block content
    .container
        ul.people-wrapper.clearfix
            li
                a.people-list(href='rjsxjj-mengz.html', target='_blank')
                    img(src='../img/zhoug.jpg')
                    p.title(title='“元圣”周公') “元圣”周公
            li
                a.people-list(href='rjsxjj-kongz.html', target='_blank')
                    img(src='../img/kongz.jpg')
                    p.title(title='“至圣”孔子') “至圣”孔子
            li
                a.people-list(href='rjsxjj-yanz.html', target='_blank')
                    img(src='../img/yanz.jpg')
                    p.title(title='“复圣”颜子') “复圣”颜子
            li
                a.people-list(href='rjsxjj-zengz.html', target='_blank')
                    img(src='../img/zengz.jpg')
                    p.title(title='“宗圣”曾子') “宗圣”曾子
            li
                a.people-list(href='rjsxjj-zisiz.html', target='_blank')
                    img(src='../img/zhoug.jpg')
                    p.title(title='“述圣”子思子') “述圣”子思子
            li
                a.people-list(href='rjsxjj-mengz.html', target='_blank')
                    img(src='../img/mengz.jpg')
                    p.title(title='“亚圣”孟子') “亚圣”孟子