extends ../layout
block vars
    - var isCur = 3;
block content
    .container(style='height: 500px;')
        .jxd-left(style="top: 31px;")
            img.jxd-people(src='img/mengz.jpg')
            p.name 曾子
        .jxd-right
            .jxd-wrapper.clearfix(style='overflow: auto;')
                .jxd-contain
                    ul.jxd-item.clearfix
                        li
                            a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=014', target='_blank')
                                img(src='img/zouc01.jpg')
                                p(title='邹城孟庙泰山气象门现场教学点') 邹城孟庙泰山气象门现场教学点
                        li
                            a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=015', target='_blank')
                                img(src='img/zouc02.jpg')
                                p(title='邹城孟庙孟母断机处现场教学点') 邹城孟庙孟母断机处现场教学点
                        li
                            a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=016', target='_blank')
                                img(src='img/zouc03.jpg')
                                p(title='邹城孟庙亚圣殿现场教学点') 邹城孟庙亚圣殿现场教学点
                        li
                            a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=017', target='_blank')
                                img(src='img/zouc04.jpg')
                                p(title='邹城孟庙官箴碑现场教学点') 邹城孟庙官箴碑现场教学点
                        li
                            a.jxd-list(href='/r/cms/qilu/qilu/jty/jnzd/pages/video.html?video=018', target='_blank')
                                img(src='img/zouc05.jpg')
                                p(title='邹城孟府大堂现场教学点') 邹城孟府大堂现场教学点
