.footer
	span#_ideConac
		a(href='http://bszs.conac.cn/sitename?method=show&id=4527EC7F34A21A6DE053012819ACB16E', target='_blank')
			img#imgConac(vspace='0', hspace='0', border='0', src='../img/red.png', data-bd-imgshare-binded='1')
	script(src='http://dcs.conac.cn/js/16/000/0000/60046278/CA160000000600462780004.js', type='text/javascript')
	p
		strong -- 中共山东省委组织部主办 --
		p.pr Copyright 2013-2017 中共山东省委组织部 All rights reserved
		p.pr 鲁ICP备09016644号-3 地址 : 山东省济南市 技术服务热线 : 400-690-7927