button(ng-class='btnClass', ng-if="!counting", ng-diabled='loading', type='button', ng-click='sendValidateCode()', ng-disabled='disabled') 获取验证码
button(ng-class='btnClass', disabled, ng-if="counting", type='button') {{_interval/1000}} 秒后重发

