ng-transclude
i.fa.m-l-xs(ng-if='order.field === orderField', ng-class="{'fa-long-arrow-up': order.order === 'ASC', 'fa-long-arrow-down': order.order === 'DESC'}")
i.fa.fa-long-arrow-down.m-l-xs(ng-if='order.field !== orderField')
