extends layout

block content
  .color-line
  .back-link
    a.btn.btn-primary(onclick='history.back()') 返回
    .error-container
      i.pe-7s-way.text-success.big-icon
      h1 系统异常，请联系管理员
      a(data-toggle='collapse', href='#error-info')
        | 以下内容可以帮助我们更快确定问题&nbsp;
        i.pe-7s-angle-down-circle
      #error-info.collapse
        h1= message
        p= error.status
        pre #{error.stack}
