//- Jade 主文件，可以引用项目通用的资源，设置 block。
//- 不建议在该文件中放置布局。
//- @author project-generator
doctype html
html
  block vars
    - var title = 'Index';
    //- 该值不为false时会在标题最后追加该值，设置为false关闭在标题最后追加
    - var appendProjectName = 'Project Generator';
    //- body 元素的属性，因为内部页面继承该布局，所以无法获取body，可以通过该方式向body添加属性
    - var bodyAttrs = {};
    //- 是否使用angular bundle，默认为true。为保证首页加载速度，可以在首页设置为false
    - var useAngularBundle = true;
    //- 配置不使用全局css，默认为false
    - var useCustomStyles = false;
    //- 点击logo跳转的Uri，默认为/
    - var logoUri = '/';
  head
    meta(charset='utf-8')
    meta(name='renderer', content='webkit')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='content-type', content='text/html')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 , maximum-scale=1')

    title
      | #{title}
      if appendProjectName
        | &nbsp;#{appendProjectName}

    unless useCustomStyles
      include shared/styles.html

    //- ng-cloak样式
    style.
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }

    block head
  body&attributes(bodyAttrs || {}).fixed-navbar.fixed-sidebar
    block content

    block footer
      include common/footer
    include directives/list-empty-tpl
    block templates

    include shared/scripts.html
    if useAngularBundle
      include shared/angular-bundle.html

    block scripts
