extends layout

block content
    .container(style='width: 1200px;padding-bottom: 0;')
      .center
        a.peoperOnea.apeoper(href='qufujxd.html')
        a.peoperTwoa.apeoper(href='jiaxjxd.html')
        a.peoperThreea.apeoper(href='zoucjxd.html')
        img.peoper_first(src='img/peoper_first.png')
        img.peoper_second(src='img/peoper_second.png')
        img.peoper_thirdly(src='img/peoper_thirdly.png')
    script(type='text/javascript').
      $(".apeoper").each(function(x){
          $(this).mouseenter(function(){
          $(".center img").eq(x).addClass('addTransform');
          })
          $(this).mouseleave(function(){
          $(".center img").eq(x).removeClass('addTransform');
          })
      })

