doctype html
html
    block vars
        - var isCur = 0;
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='renderer', content='webkit')
        meta(charset='UTF-8')
        title 济宁干部政德教育基地_灯塔-党建在线_中共山东省委组织部
        link(rel='stylesheet', type='text/css', href='css/reset.css')
        link(rel='stylesheet', type='text/css', href='css/index.css')
        block links
            script(type='text/javascript', src='js/jquery-1.12.1.js')
    body
        .jn-bg
            include includes/header
            block content
            include includes/footer
